@use "./variables" as v;

@mixin box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

@mixin bg-gradient {
    background: linear-gradient(350deg, v.$color-primary 35%, v.$color-secondary 100%);
}

@mixin background-opacity($color, $opacity: 0.3) {
    background-color: rgba($color, $opacity);
}

@mixin btn-effect {
    transition: all v.$tt-btn-effect ease;
    
    &:hover {
        opacity: 0.9;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
        transform: scale(1.01);
    }
    &:active {
        transform: scale(1.02);
    }
}

@mixin opacity-appear {
    opacity: 0;
    animation-name: progressive-opacity;
    animation-duration: v.$tt-opacity-appear-effect;
    animation-fill-mode: forwards;
    animation-delay: v.$tt-loader-effect;


    @keyframes progressive-opacity {
        from {
            opacity: 0;
        } 
        to {
            opacity: 1;
        }
    }

}

@mixin translate-appear {
    animation-name: appear;
    animation-duration: v.$tt-card-opacity;
    animation-fill-mode: backwards;

    @keyframes appear {
        from {
            transform: translateY(-3rem);
            opacity: 0;
        } 
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@mixin all-cards-appear($num-cards) {
    $anim-delay: calc(v.$tt-card-display / $num-cards);


    @for $i from 1 to $num-cards+1 {
        &.card--#{$i} {
            @include translate-appear;
            animation-delay: $anim-delay * $i;
        }
    }
}