$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiare: #99e2d0;

$gray-lighter: #f6f6f6;
$gray-normal: #eaeaea;
$gray-darker: #353535;

$color-white: #fff;
$color-black: #000;

$gray-icon: #7E7E7E;