//Color variables
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiare: #99e2d0;

$gray-lighter: #f6f6f6;
$gray-normal: #eaeaea;
$gray-darker: #353535;

$color-white: #fff;
$color-black: #000;

$gray-icon: #7E7E7E;
$color-green: #289c7f;

//Transition and animation time variables
$tt-checkmark-display: 500ms;
$tt-card-display: 1000ms;
$tt-card-opacity: 1000ms;
$tt-like-display: 500ms;
$tt-btn-effect: 200ms;
$tt-loader-effect: 2000ms;
$tt-opacity-appear-effect: 500ms;