@use "../abstracts" as a;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include a.opacity-appear;

    .logo_container {
        width: 100%;
        text-align: center;
        background-color: a.$color-white;
        padding: 1.5rem 0 0.75rem 0;
        @include a.box-shadow;

        img {
            max-width: 11rem;
        }
    }

    .location {
        display: flex;
        
        &_icon {
            display: flex;
            align-items: center;
        }

        &_text {
            margin: 1rem;
            font-weight: a.$fw-bold;
        }
    }
    
    &_restaurant {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 0.75rem;
        position: relative;
        height: 2rem;


        &_go_back_icon {
            color: a.$color-black;
            font-size: a.$fs-sm-md;
            display: flex;
            align-items: center;
            text-decoration: none;
            position: absolute;
            left: 1.5rem;
            top: 1.25rem;

            &:visited {
                color: a.$color-black;
            }
        }

        &_logo_container {
            position: absolute;
            img {
                max-width: 11rem;
            }
        }
    }
}