@use "../abstracts" as a;

.button {
    color: a.$color-white;
    text-decoration: none;
    border-radius: 30px;
    border: 0;
    padding: 1rem 1rem;
    min-width: 12rem;
    @include a.bg-gradient;
    @include a.box-shadow;
    @include a.btn-effect;
}

.button:hover {
    cursor: pointer;
}