@use "../abstracts" as a;

//The number of cards in the page
$num-cards: 10;

.plate_card {
    background-color: a.$color-white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    @include a.box-shadow;
    @include a.all-cards-appear($num-cards);

    &_main_container {
        flex-grow: 1;
        padding: 0.75rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_title {
            margin-bottom: 0.25rem;
    
            h3 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    
        &_info {
            display: flex;
            justify-content: space-between;
    
            &_details {
                font-size: a.$fs-x-sm;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    
            &_price {
                font-weight: a.$fw-bold;
                margin-left: 1rem;
            }
        }
    }

    &_check{
        width: 0;
        min-width: 0;
        background-color: a.$color-tertiare;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: a.$fs-md;
        transition: all a.$tt-checkmark-display ease;

        i {
            color: a.$color-white;
            opacity: 0;
            transition: all a.$tt-checkmark-display ease;
        }
    }

    &:hover {
        .plate_card_check {
            min-width: 3.5rem;
            width: 3.5rem;

            i {
                opacity: 1;
                transform: rotate(360deg);
            }
        }
    }
}

@include a.medium-screen {
    .plate_card {
        background-color: a.$gray-lighter;
    }
}