@use "../abstracts" as a;

.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: a.$color-black;
    background-color: a.$color-white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    @include a.box-shadow;

    &_image_container {
        height: 10rem;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
        }

        &_tag {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-weight: a.$fw-bold;
            color: a.$color-green;
            background-color: a.$color-tertiare;
            padding: 0.5rem;
        }
    }

    &_info {
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        &_like_button {
            width: 2rem;
            font-size: a.$fs-md;
            position: relative;
            cursor: pointer;

            .fa-solid {
                opacity: 0;
                position: absolute;
                top: 25%;
                @include a.bg-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all a.$tt-like-display ease;
            }

            .fa-regular {
                position: absolute;
                top: 25%;
                transition: all a.$tt-like-display ease;
            }

            &:hover {
                .fa-regular {
                    opacity: 0;
                }

                .fa-solid {
                    opacity: 1;
                }
            }
        }
    }

    &:visited {
        color: a.$color-black;
    }
}

@include a.medium-screen {
    .card {
        width: 49%;
        margin-bottom: 1.6rem;
    }
}