@use "../abstracts" as a;

.restaurant {
    
    &_image_container {

        img {
            width: 100%;
            max-height: 20rem;
            object-fit: cover;
        }
    }

    &_menu {
        padding: 2rem 1rem 2rem 1rem;
        border-radius: 2rem 2rem 0 0;
        transform: translateY(-2rem);
        background-color: a.$gray-normal;

        &_header {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            &_title {
                margin-right: 1.75rem;

                p {
                    font-family: a.$ff-title;
                    font-size: a.$fs-md-lg;
                }
            }

            &_like_button {
                width: 2rem;
                font-size: a.$fs-md;
                position: relative;
                cursor: pointer;
    
                .fa-solid {
                    display: none;
                    opacity: 0;
                    position: absolute;
                    top: 25%;
                    @include a.bg-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all a.$tt-like-display ease;
                }
    
                .fa-regular {
                    position: absolute;
                    top: 25%;
                    transition: all a.$tt-like-display ease;
                }
    
                &:hover {
                    .fa-regular {
                        opacity: 0;
                    }
    
                    .fa-solid {
                        display: initial;
                        opacity: 1;
                    }
                }
            }
        }

        &_offer {
            margin-bottom: 3rem;

            &_meal {
                margin-bottom: 2rem;

                &_title {
                    text-transform: uppercase;
                    margin-bottom: 0.25rem;   

                    &_underline {
                        height: 3px;
                        width: 2.5rem;
                        background-color: a.$color-tertiare;
                        margin: 0;
                        border: none;
                    }
                }


                &_plates_container {
                    margin-top: 1rem;
                }
            }
        }

        &_button {
            display: flex;
            justify-content: center;

            p {
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
}